body{
    margin: 0;
    background-color: whitesmoke;
}

h1{
    font-size: 50px;
    margin-top: 0;
    margin-left: 5%;
}

img{
    width: 40vw;
    height: 38vh;
}
.navBar{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
}

.dropdown{
    right: 55%;
}

#dropdownMenuButton{
    background-color: cadetblue;
}

.imageContainer{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.imageCard{
    width: 50vw;
    height: 50vh;
    border: 2px solid rgba(128, 128, 128, 0.451);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2%;
    box-shadow: 2px 2px 4px rgba(128, 128, 128, 0.388);
}

.buttonContainer{
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

#catButton{
    border: none;
    background-color: cadetblue;
    height: 5vh;
    width: 10vw;
    border-radius: 5px;
    box-shadow: 1px 1px 1px grey;
    color: white;
}

#catButton:hover{
    cursor: pointer;
}

#scoreContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 18vh;
    border-bottom: 1px solid rgba(128, 128, 128, 0.224);
}

#scoreDisplayContainer{
    padding-bottom: 2%;
}

#voteButtonContainer{
    width: 25%;
    display: flex;
    justify-content: space-between;
}

#upvote, #downvote{
    width: 40%;
    height: 5vh;
    border-radius: 5px;
    box-shadow: 1px 1px 1px grey;
    color: white;
    border: none;
}

#upvote{
    background-color: forestgreen;
}

#downvote{
    background-color: rgb(185, 15, 15);
}

#upvote:hover, #downvote:hover{
cursor: pointer;
}

#scoreTitle,#score{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    color: rgba(0, 0, 0, 0.805);
}

#commentContainer{
    display: flex;
    justify-content: center;
    
}

#commentHeader{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 2%;
}