body{
    margin: 0;
    background-color: whitesmoke;
}

h1{
    font-size: 50px;
    margin-top: 0;
    margin-left: 8%;
}

img{
    width: 35vw;
    height: 35vh;
}

p{
    margin-left: 1%;

}
.navBar{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(128, 128, 128, 0.293);
}

.dropdown{
    right: 55%;
}

#dropdownMenuButton{
    background-color: cadetblue;
}

.imageContainer{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.imageCard{
    width: 40vw;
    height: 40vh;
    border: 2px solid rgba(128, 128, 128, 0.451);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2%;
    box-shadow: 1px 1px 4px rgba(128, 128, 128, 0.294);
}

.buttonContainer{
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

#catButton{
    border: none;
    background-color: cadetblue;
    height: 5vh;
    width: 10vw;
    border-radius: 5px;
    box-shadow: 1px 1px 1px grey;
    color: white;
}

#catButton:active{
    transform: scale(.98);
}

#catButton:hover{
    cursor: pointer;
}

#scoreContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 18vh;
    border-bottom: 1px solid rgba(128, 128, 128, 0.224);
}

#scoreDisplayContainer{
    padding-bottom: 2%;
}

#voteButtonContainer{
    width: 25%;
    display: flex;
    justify-content: space-between;
}

#upvote, #downvote{
    width: 40%;
    height: 5vh;
    border-radius: 5px;
    box-shadow: 1px 1px 1px grey;
    color: white;
    border: none;
}
#upvote:active, #downvote:active{
    transform: scale(.98);
}

#upvote{
    background-color: forestgreen;
}

#downvote{
    background-color: rgb(185, 15, 15);
}

#upvote:hover, #downvote:hover{
cursor: pointer;
}

#scoreTitle,#score{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    color: rgba(0, 0, 0, 0.805);
}

#commentContainer{
    display: flex;
    justify-content: center;
    
}

#commentHeader{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 2%;
    margin-left: 2%;
}

#commentContainer{
    display: flex;
    justify-content: start;
    width: 40%;
    margin-left: 2%;
}

#commentInput{
    width: 75%;
    display: flex;
    justify-content: space-between;
}

#input{
    width: 60%;
}

#comment{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.indCommentContainer{
    display: flex;
    justify-content: space-between;
    width: 30vw;
    border: 1px solid rgba(128, 128, 128, 0.451);
    align-items: center;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(128, 128, 128, 0.388);
    margin: 2% 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#commentDelete{
    border-radius: 5px;
    box-shadow: 1px 1px 1px grey;
    color: white;
    border: none;
    background-color: rgb(185, 15, 15);
    margin-right: 2%;
}

#commentDelete:hover{
cursor: pointer;
}

#commentDelete:active{
    transform: scale(.98);
}

#subBtn{
    border-radius: 5px;
    box-shadow: 1px 1px 1px grey;
    color: white;
    border: none;
    background-color: forestgreen;
    padding: 2%;
}

#subBtn:hover{
    cursor: pointer;
}

#subBtn:active{
    transform: scale(.98);
}

.list-group-flush{
    width: 18%;
    height: 20vh;
    position: absolute;
    top: 14%;
    right: 5%;
}

.ratio{
    position: absolute;
    top: 79%;
    right: 3%;
}

.cat-gif{
    transform: scale(.2);
    position: absolute;
    bottom: 80%;
    right: 2%;
}